[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=1.11,<2"
django-environ = "*"
"beautifulsoup4" = "*"
"httplib2" = "*"
rdflib = "*"
spreadlinks = "*"
"html5lib" = "*"

[dev-packages]

[requires]
python_version = "3.6"
