[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=1.10,<1.11"
django-environ = "*"
beautifulsoup = "*"
"httplib2" = "*"
rdflib = "*"
"9fc1e05" = {path = "./../spreadlinks", editable = true}

[dev-packages]

[requires]
python_version = "2.7"
