-i https://pypi.org/simple
beautifulsoup4==4.6.1
django-environ==0.4.5
django==2.0.8
html5lib==1.0.1
httplib2==0.11.3
isodate==0.6.0
markdown==2.6.11
pyparsing==2.2.0
pytz==2018.5
rdflib==4.2.2
six==1.11.0
spreadlinks==0.3.0
webencodings==0.5.1
