{% extends "base.html" %}
{% load static %}

{% block title %}Jeremy Day{% endblock %}
{% block heading %}<img src="{% static 'style/wordmark.png' %}" alt="Jeremy Day (incorporating Jeremy Dennis)" />{% endblock %}

{% block meta %}
    <meta name="google-site-verification" content="Vk6B9nZ6VAHxcY0QZpm7araP8DpjTY3cxIVk06alleQ" />
{% endblock %}

{% block trail %}{% endblock %}

{% block tab-home %}<li id="tab-home" class="active"><b>Home</b></li>{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{% static 'js/front.js' %}"></script>
{% endblock %}

{% block content %}

<div id="main" class="col main-col">
  <div class="picture captioned left">
    <a href="http://www.flickr.com/photos/glasseye/2318407904/">
      <img src="{% static 'style/by-matt-220w.jpg' %}" alt="" width="220" height="330" align="right" />
      <small>Photo by Matt Brooker</small>
    </a>
  </div>
  {{ text_formatted }}

  <p class="quiet">
    On this page: <a href="#livejournal">LiveJournal</a>,
    <a href="#tws">The Weekly Strip</a>,
    <a href="#appearances">Cleanskies on …</a>,
    <a href="#tabs">site navigation</a>
  </p>

  {% if is_css_naked %}
  <h3>What happened to the design?</h3>
  <p>The style sheets for this page have been temporarily removed. Visit the
  <a href="http://naked.dustindiaz.com" title="Web Standards Naked Day Host Website">
  Annual CSS Naked Day</a> website for more information.</p>
  {% endif %}

  <h2>LiveJournal LiveJournal</h2>
  <div id="livejournal"><a href="http://cleanskies.livejournal.com/">Click to see my LiveJournal</a></div>
</div>

<div id="tws" class="col tws-col">
  <h2>The Weekly Strip</h2>
  <ul>
    {% for strip in tws %}
    <li>
      <a href="{% url 'tws_strip' number=strip.number|stringformat:"d" %}">
        <img src="{{ strip.icon_src }}" alt="" width="80" height="80" />
        <b>{{ strip.number }}. {{ strip.title }}</b>
        <small>{{ strip.date|date:"d F Y" }}</small>
      </a>
    {% endfor %}
  </ul>
</div>

<div id="appearances" class="col appearances-col">
  <h2>Cleanskies on …</h2>
  <ul class="links">
    {% for site in other_sites %}
    <li>
      <a href="{{ site.href }}">
        <img src="{{ site.icon_src }}" alt="" />
        <b>{{ site.title }}</b>
      </a>
    </li>
    {% endfor %}
  </ul>

  {% if false %}
  <h2 id="cleanskies">tweet tweet</h2>
  <div class="appearances-tweets">
    <a class="twitter-timeline" data-width="240" data-dnt="true" href="https://twitter.com/cleanskies?ref_src=twsrc%5Etfw">Tweets by cleanskies</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
  {% endif %}
</div>
{% endblock %}
